@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background: url("../../public/befivebg.webp") 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  inset: 0;
  opacity: 0.7;
}

.ourservicesbg{
  background: url("../../public/ourservicesbg.jpg") 100%;
  background-repeat: no-repeat;
  background-size: cover;
}